<map-view>
  <map-polyline>
    <map-polyline-point [latitude]="latA" [longitude]="lngA">
    </map-polyline-point>
    <map-polyline-point [latitude]="latB" [longitude]="lngB">
    </map-polyline-point>
  </map-polyline>

  <map-circle
    [latitude]="latA"
    [longitude]="lngA"
    [radius]="50250"
    fillColor="red"
    [fillOpacity]="0.5"
    [zIndex]="10"
  ></map-circle>
  <map-circle
    [latitude]="latB"
    [longitude]="lngB"
    [radius]="50250"
    fillColor="red"
    [fillOpacity]="0.5"
    [zIndex]="10"
  ></map-circle>

  <map-polygon [paths]="paths"></map-polygon>
</map-view>

<h2>Rectangle</h2>

<map-view>
  <map-marker [latitude]="latB" [longitude]="lngB"></map-marker>
  <map-rectangle
    [east]="east"
    [west]="west"
    [north]="north"
    [south]="south"
  ></map-rectangle>
</map-view>
