<nav>
  <ul>
    <li><a routerLink="/">Home</a></li>
    <li><a routerLink="/cluster">Cluster</a></li>
    <li><a routerLink="/cluster-with-window">Cluster with Window</a></li>
    <li><a routerLink="/info-window">Info Window</a></li>
    <li><a routerLink="/shapes">Shapes</a></li>
    <li><a routerLink="/fit-bounds">Fit Bounds</a></li>
    <li><a routerLink="/autocomplete">AutoComplete</a></li>
    <li><a routerLink="/bounds-padding">Bounds Padding</a></li>
  </ul>
</nav>

<router-outlet></router-outlet>
